@using SudokuWebsite.Models
@using SudokuWebsite.Services
@using Microsoft.AspNetCore.Components.Web
@inject JsonFileGameAdService GameAdService;


<div>
    <h4>Check out these games as well<br></h4>

    <div class=" card-columns">

        @foreach (var ad in GameAdService.GetAds())
        {
            <div class="card">
                <div class="card-img" style="background-image:url('@ad.Image'); "></div>
                <div class="card-body">
                    <h5 class=" = card-title"> @ad.Title</h5>
                    <h6> @ad.Description</h6>
                    
                </div>
                <a href="@ad.Url" class="stretched-link"></a>
            </div>
        }
    </div>
</div>

@code {

    

}
